html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

section.onlin_dream {
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
}

.container {
    padding: 150px 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container h1 {
    font-size: 32px;
    margin: 0;
}

.container p {
    font-size: 16px;
    margin-top: 10px;
}


section.about_smart p {
    color: rgb(38, 66, 89);
    font-size: 25px;
    margin-left: 20px;
}

section.about_smart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 30px;
    background-color: gray;
}

section.about_smart .div2 {
    background-image: url(imgs/ab2.jpg);
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: azure;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 5%;
}

.about_smart .div2 h2 {
    font-size: 40px;
    z-index: 1;
}

.container1 {
    padding: 50px;
    text-align: center;
    background-color: #0D0745;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-smart {
    margin-bottom: 40px;
}

.about-smart h1 {
    font-size: 64px;
}

.container1 p {
    color: #ffffff;
}

.smart {
    color: #007BFF;
}

.about-smart2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.about-smart3 {
    border: 2px solid #007BFF;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    max-width: 900px;
    padding: 20px;
    text-align: left;
}

.my-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
}


.Web-Development, .Mobile-Apps, .AI-Solution {
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 15px;
    width: 300px;    
}

.about-smart2 div {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.about-smart2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h3 {
    margin: 15px 0 10px;

}



.page3 {
    background-color: #208ab2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    align-items: center;
    gap:20px;
}

.image-column {
    display: flex;
    justify-content: center;
}

.image-column img {
    height: 100%;
    max-height:600px;
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
}

.text-column {
    min-width: fit-content;
    max-width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: flex-start;
    padding: auto;
}

.Our-culture, .our-vision {
    background-color: #E9E9E9;
    border: 1px solid black;
    display: inline-block;
    border-radius: 8px;
    color: #208ab2;
    width: 100%;
    text-align: start;
    padding:0.4rem .8rem;
}

h3 {
    margin-top: 0;
    font-size:26px;
    font-weight: 800;
    font-family: 'Nunito';
    line-height: 1.01;
}

.Our-culture p, .our-vision p {
    color: #134163;
    margin: 10px 0;
    font-size:18px;
    font-weight: 800;
    font-family: 'Nunito';
}

.Our-culture .im, .our-vision .im {
    padding-bottom: 6px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right,#a19898ce , #C4C4C4);
    margin:1rem 0 ;
    gap:20px;
}

.elevating {
    max-width: 100%;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    line-height: 1.5;
    font-weight: bold;
}

.we_grow {
    color: #208ab2;
    font-family: 'Nunito';
    font-size:20px;
    font-weight: 800;
}

h1{
    font-family: 'Nunito';
    font-size:64px;
    font-weight: 800;
}
.elevating p{
    font-family: 'Nunito';
    font-size:24px;
    font-weight: 700;
}

.img {
    flex-shrink: 0;
}

.img img {
    height: auto;
}

/* Media Queries */
@media (max-width: 1200px) {

    .container1 {
        padding: 30px;
    }
    
    .about-smart h1 {
        font-size: 48px;
    }
    
    .about-smart2 {
        flex-direction: column;
        align-items: center;
    }
    
    .about-smart2 div {
        max-width: 100%;
        margin: 10px 0;
    }
    
    .img img {
        width: 100%;
    }

    .page3{
        width:100%;
        max-width: 100%;
    }
    .content-wrapper{
        padding:0 1.8rem;
    }
    .our-vision p , .Our-culture p{
        font-size: 16px;
    }
    
    .container2 h1{
        font-size:52px;
    }
    .elevating {
        line-height: 1.4;

    }
}

@media (max-width: 1024px) {

    
    .container2 h1{
        font-size:42px;
    }
    .container2 p{
        font-size:20px;
    }
    
}

@media (max-width: 768px) {
    section.about_smart {
        flex-direction: column;
        padding: 40px;
    }

    section.about_smart .div2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }
    .container h1{
        font-size: 25px;
    }
    .container p{
        font-size: 14px;
    }

    .text-column p{
        font-size:12px;
    }
    .page3{
        width:100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        height:100%;
        max-height: 100%;
    }
    .content-wrapper{
        /*grid-template-columns: 1fr minmax(290px , 1fr);*/
        display:flex;
        flex-direction: column;
        width: 100%;
        padding:0 1.8rem;
    }
    .text-column{
        width: 100%;
    }
    .text-column br{
        display: none;
    }
    .image-column{
        width: 100%;
        height:400px;
        max-height: fit-content;
    }
    .header-container{
        display:flex;
        gap:5px;
        align-items: center;
        margin-top: 0.5rem;
    }
    .container2 {
        display:grid;
        grid-template-columns: auto auto;
        padding:50px 20px;
        align-items: center;
        justify-content: center;
    }
    .img-container2{
        min-width:220px;
        max-width:250px;
        height:auto;

    }
    .elevating {
        font-size:14px;
        display: flex;
        justify-content: center;
        height: auto;
        line-height: 1.15;
    }
    .our-vision p, .Our-culture p{
        margin: 0;
        padding-bottom: 0.5rem;
    }
    .our-vision h3, .Our-culture h3 {
        font-size: 20px;
        line-height: 0;
    }
    .container2 .we_grow{
        font-size:14px;
    }
    .container2 h1{
        font-size:32px;
    }
    .container2 p{
        font-size:14px;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .my-button {
        padding: 10px;
        font-size: 14px;
    }

    .about-smart h1 {
        font-size: 36px;
    }

    .experiences {
        font-size: 20px;
    }
    .container{
        padding: 0 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container h1{
        font-size: 25px;
    }
    .container p{
        font-size: 14px;
    }
 
    .image-column{
        height:300px;
    }
 
    .container2 {
        display:grid;
        grid-template-columns: 1fr auto;
        padding:20px 8px;
        align-items: center;
        justify-content: center;
    }
    .img-container2{
        min-width:100px;
        max-width:180px;
        height:100%;
        max-height: max-content;
    }
    .elevating {
        font-size:12px;
        display: flex;
        justify-content: center;
        line-height: 1.5;
        margin:0;
    }
    .elevating br{
        display:none;
    }
    .elevating p{
        font-size:12px;
    }
    .container2 h1{
        font-size:20px;
        line-height: 1.3;
    }
    .container2 .we_grow{
        font-size:10px;
    }
    .Our-culture , .our-vision{
        padding:0.3rem 0.4rem;
    }
      
}

@media (max-width: 350px) {
    
    .image-column{
        height:250px;
    }

    .img-container2{
        min-width:100px;
        max-width:160px;
        height:400px;
    }
    .container2{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .elevating{
        font-size:10px;
        display: flex;
        justify-content: center;
        line-height: 1.1;
        margin:0;
    }
    .elevating h1{
        font-size:16px;
        line-height: 1.3;
    } 
}

